@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.heading__logo {
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
  display: inline-block;
}

.heading__input {
  width: 288px;
  color: #FFFFFF;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  height: 42px;
  background: transparent;
  font-family: inherit;
  padding: 0px 32px;
}

::-moz-placeholder {
  color: #FFFFFF;
}

::placeholder {
  color: #FFFFFF;
}

.heading__index {
  background-image: url(./Imgs/header.jpeg);
  background-repeat: no-repeat;
  height: 735px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}

.heading__catalog {
  background-image: url(./Imgs/catalog.jpeg);
  background-repeat: no-repeat;
  height: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}

.heading__cart {
  background-image: url(./Imgs/cartbg.jpeg);
  background-repeat: no-repeat;
  height: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}

ul {
  list-style: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px 16px 0px;
  border-bottom: 0.5px solid #FFFFFF;
}

.catalog {
  display: flex;
  gap: 32px;
  order: 2;
}

.catalog__link {
  color: #FFFFFF;
  text-decoration: none;
}

.catalog__link:hover {
  text-decoration: underline;
}

.header {
  color: #FFFFFF;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 48px;
  padding-bottom: 16px;
}

.header__catalog {
  color: #FFFFFF;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 136px;
}

.catalog__navbar {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.catalog__navbar_link {
  color: #000000;
  text-decoration: none;
  gap: 10px;
}

.catalog__navbar_link:hover {
  text-decoration: underline;
}

.catalog__navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 38px;
}

.catalog__navbar_links {
  gap: 10px;
  display: block;
}

.catalog__select {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  position: relative;
}

.catalog__select_filter {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  padding-left: 23px;
  padding-right: 23px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  width: 182px;
  background-image: url(./Imgs/strelka.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  gap: 10px;
  position: relative;
}

.catalog__select_option {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  padding-left: 23px;
  padding-right: 23px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  width: 220px;
  background-image: url(./Imgs/strelka.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  gap: 10px;
}

.filter {
  position: absolute;
  top: calc(100% + 14px);
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 36px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  padding: 40px 48px;
  top: 520px;
  right: 388px;
}
.filter__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px 65px;
  max-height: 548px;
  max-width: 540px;
}
.filter__fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  border: none;
}
.filter__legend {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.radio {
  display: flex;
  align-items: center;
  gap: 16px;
}
.radio__input {
  display: none;
}
.radio__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
}
.radio__label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  border-radius: 50%;
  position: absolute;
  left: 0;
  background-color: white;
}
.radio__input:checked + .radio__label::before {
  border-color: #000000;
  background-image: url(./Imgs/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.range {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.range__input {
  width: 190px;
  height: 10px;
  overflow: hidden;
  outline: none;
}
.range__input, .range__input::-webkit-slider-runnable-track, .range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}
.range__input::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #000000;
}
.range__input:nth-child(2)::-webkit-slider-runnable-track {
  background: none;
}
.range__input::-webkit-slider-thumb {
  position: relative;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}
.range__input::-webkit-slider-thumb:active {
  cursor: grabbing;
}
.range__input:nth-child(1)::-webkit-slider-thumb {
  z-index: 2;
}
.range__input_max {
  position: absolute;
  top: 329px;
  right: 322px;
}

.color-options {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  gap: 14px;
}
.color-options__checkbox {
  width: 15px;
  height: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkbox__input {
  display: none;
}
.checkbox__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
}
.checkbox__label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  position: absolute;
  left: 0;
  background-color: #fff;
}
.checkbox__input:checked + .checkbox__label::before {
  background-image: url(./Imgs/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: #000000;
}
.checkbox__label_white::before {
  background-color: #fff;
  border-color: #888888;
}
.checkbox__label_black::before {
  background-color: black;
  border-color: #888888;
}
.checkbox__label_gray::before {
  background-color: gray;
  border-color: #888888;
}
.checkbox__label_red::before {
  background-color: #FF0000;
  border-color: #888888;
}
.checkbox__label_orange::before {
  background-color: #FF7A41;
  border-color: #888888;
}
.checkbox__label_yellow::before {
  background-color: #F2CB01;
  border-color: #888888;
}
.checkbox__label_green::before {
  background-color: #00BF2A;
  border-color: #888888;
}
.checkbox__label_light-green::before {
  background-color: #1CCC97;
  border-color: #888888;
}
.checkbox__label_light-blue::before {
  background-color: #009FE3;
  border-color: #888888;
}
.checkbox__label_blue::before {
  background-color: #000AF8;
  border-color: #888888;
}
.checkbox__label_violet::before {
  background-color: #6710D6;
  border-color: #888888;
}
.checkbox__label_purple::before {
  background-color: #9D0DB5;
  border-color: #888888;
}
.checkbox__label_light-purple::before {
  background-color: #D89AFF;
  border-color: #888888;
}
.checkbox__label_coral::before {
  background-color: #FF65A6;
  border-color: #888888;
}
.checkbox__input:checked + .checkbox__label_black::before, .checkbox__input:checked + .checkbox__label_blue::before, .checkbox__input:checked + .checkbox__label_violet::before {
  background-image: url(./Imgs/checkwhite.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.cart__button {
  margin-top: 98px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.header__text {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 24px;
}

.header__link {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

.header__link:hover {
  color: black;
}

.for-box {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(12, 1fr);
}

.for__item {
  height: 415px;
  grid-column: span 4;
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0%;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.for__item_big {
  grid-column: span 6;
}

.for__item1 {
  background-image: url(./Imgs/otdyha.jpeg);
}

.for__item2 {
  background-image: url(./Imgs/raboty.jpeg);
}

.for__item3 {
  background-image: url(./Imgs/kuhni.jpeg);
}

.for__item4 {
  background-image: url(./Imgs/detskoy.jpeg);
}

.for__item5 {
  background-image: url(./Imgs/vannoy.jpeg);
}

.header2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  padding-bottom: 32px;
  padding-top: 64px;
}

.product-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
  padding-bottom: 39px;
}

.item__width {
  width: 378px;
}

.header3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-bottom: 8px;
  padding-top: 10px;
}

.header3__text {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  padding-bottom: 12px;
}

.price {
  display: inline;
}

.actual-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
  padding-right: 20px;
}

.old-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888888;
}

.catalog-box {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 32px;
  padding-bottom: 32px;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer {
  background-size: 100%;
  background-color: #F7F6F6;
  height: 207px;
  background: #F7F6F6;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__menu {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
  row-gap: 60px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.footer__logo {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: left;
}

.header4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-bottom: 14px;
}

.prefooter__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 16px;
  font-family: inherit;
}

.prefooter__link:hover {
  text-decoration: underline;
}

.footer__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 14px;
}

.footer__link:hover {
  text-decoration: underline;
}

.header5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-bottom: 14px;
}

.header5__contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 14px;
}

.header5__contacts:hover {
  text-decoration: underline;
}

.icons {
  display: flex;
  gap: 16px;
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.footer__text {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  display: flex;
  padding-bottom: 8px;
}

.footer__input {
  color: rgb(196, 196, 196);
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  font-family: inherit;
  width: 260px;
  height: 40px;
  padding: 0px 32px;
  display: flex;
}

.footer__input::-moz-placeholder {
  color: #000000;
  font-family: inherit;
}

.footer__input::placeholder {
  color: #000000;
  font-family: inherit;
}

.button {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  width: 260px;
  height: 40px;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.button:hover {
  background-color: black;
  color: #FFFFFF;
}

.footer__button {
  display: flex;
}

.cart {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}
.cart__name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}
.cart__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 0.5px solid rgb(202, 205, 216);
  padding-top: 25px;
  padding-bottom: 32px;
}
.cart__left {
  display: flex;
  gap: 32px;
}
.cart__article {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  font-size: bold;
}
.cart__info {
  width: 276px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.cart__text {
  color: rgb(136, 136, 136);
}
.cart__link-box {
  display: flex;
  gap: 30px;
}
.cart__link {
  text-decoration: none;
  color: black;
}
.cart__link:hover {
  text-decoration: underline;
}
.cart__input {
  display: flex;
  justify-content: flex-end;
}
.cart__field {
  font-size: 14px;
  font-weight: 600;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 6px;
  background: rgb(247, 246, 246);
  width: 71px;
  height: 51px;
  left: 837px;
  top: 523px;
  border: none;
  outline: none;
  font-family: inherit;
}
.cart__button {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  width: 200px;
  height: 37px;
  left: 121px;
  top: 983px;
  background-color: #fff;
  font-family: inherit;
}
.cart__button:hover {
  background-color: black;
  color: #FFFFFF;
}
.cart__form {
  border-radius: 20px;
  background: rgb(247, 246, 246);
  height: 556px;
  grid-column: span 4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}
.cart__group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  row-gap: 15px;
  padding-bottom: 32px;
  row-gap: 38px;
}
.cart__input2 {
  background: rgb(247, 246, 246);
  width: 288px;
  color: black;
  box-sizing: border-box;
  border-top: rgb(247, 246, 246);
  border-left: rgb(247, 246, 246);
  border-right: rgb(247, 246, 246);
  border-bottom: 1px solid rgb(202, 205, 216);
  height: 17px;
  left: 968px;
  top: 596.5px;
  background: transparent;
  font-family: inherit;
  padding: 0px 0px;
}
.cart__button2 {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  width: 298px;
  height: 41px;
  left: 121px;
  top: 983px;
  background-color: #fff;
  font-family: inherit;
  background: rgb(247, 246, 246);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.cart__button2:hover {
  background-color: black;
  color: #FFFFFF;
}
.cart ::-moz-placeholder {
  color: black;
}
.cart ::placeholder {
  color: black;
}
.cart__total {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}
.cart__order {
  padding-top: 42px;
  display: flex;
  font-size: 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0px;
}
.cart__content {
  grid-column: span 8;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item_big {
    height: 268px;
  }
  .for__item_small {
    height: 265px;
  }
  .product-box {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .footer__logo {
    display: none;
  }
  .catalog-box {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 30px;
  }
  .header__catalog {
    top: 203px;
  }
  .filter {
    top: 520px;
    right: 26px;
  }
  .cart {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  .cart__form {
    margin-top: 64px;
  }
  .cart__input {
    padding-bottom: 32px;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-around;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .header__catalog {
    padding-bottom: 127px;
  }
  .product-box {
    width: 786px;
  }
  .catalog-box {
    width: 786px;
  }
  .for__item_big {
    height: 268px;
  }
  .for__item_small {
    height: 265px;
  }
  .footer__logo {
    display: none;
  }
  .header__catalog {
    padding-top: 127px;
  }
  .catalog-box {
    row-gap: 31px;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-around;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 383.5px);
    padding-right: calc(50% - 383.5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .heading__index,
  .heading__catalog,
  .heading__cart {
    width: 343px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  .heading__cart {
    margin-bottom: 92px;
  }
  .heading__logo {
    padding-left: 16px;
  }
  .navbar,
  .cart {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(8, 1fr);
    justify-items: start;
    width: 343px;
    margin-top: 32px;
    border: none;
    gap: 50px;
  }
  .navbar__text,
  .cart__text {
    line-height: 15px;
    font-size: 12px;
  }
  .navbar__button,
  .cart__button {
    width: 164px;
  }
  .navbar__form,
  .cart__form {
    padding-left: 28px;
    margin-top: 32px;
  }
  .navbar__item,
  .cart__item {
    width: 343px;
  }
  .navbar__item_none,
  .cart__item_none {
    display: none;
  }
  .navbar__total,
  .cart__total {
    padding-right: 16px;
  }
  .navbar__button2,
  .cart__button2 {
    margin-right: 16px;
  }
  .catalog__navbar {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(8, 1fr);
    justify-items: start;
    width: 343px;
    margin-top: 32px;
    border: none;
    gap: 50px;
    align-items: flex-start;
    height: 124px;
  }
  .catalog__select_filter {
    top: -32px;
  }
  .heading__input {
    display: none;
  }
  .catalog__link {
    display: none;
  }
  .heading__logo {
    width: 99px;
  }
  .header__section {
    width: 343px;
    margin-top: 29px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .menu__mobile {
    display: flex;
    gap: 32px;
    padding-right: 16px;
  }
  .header,
  .header__catalog {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .header__text,
  .header__catalog__text {
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .header__link,
  .header__catalog__link {
    font-size: 14px;
  }
  .catalog__select {
    display: flex;
    position: absolute;
    margin-bottom: auto;
    margin-top: auto;
    gap: 10px;
  }
  .catalog__select_option {
    width: 203px;
    background-position: right 10px center;
  }
  .catalog__select_filter {
    width: 164px;
    background-position: right 10px center;
  }
  .header2 {
    line-height: 29px;
    font-size: 24px;
    padding-top: 32px;
    width: 343px;
  }
  .for-box {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    grid-column: 1/-1;
    width: 343px;
    height: 375px;
    font-size: 28px;
    line-height: 34px;
  }
  .for__item_big {
    height: 244px;
  }
  .product-box {
    width: 343px;
  }
  .item__width {
    width: 343px;
  }
  img {
    max-width: 343px;
  }
  .filter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 40px 48px 40px 48px;
    height: 940px;
    max-width: 286px;
    left: 16px;
    top: 580px;
  }
  .filter__content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .cart__button {
    margin-top: 16px;
  }
  .catalog-box {
    width: 343px;
  }
  .buttons {
    display: flex;
    gap: 14px;
  }
  .cart__button {
    margin-top: 32px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    font-family: inherit;
  }
  .cart__name-box {
    display: none;
  }
  .prefooter__link {
    content: Показать еще;
  }
  .footer {
    margin-right: auto;
    margin-left: auto;
    -moz-column-gap: 100px;
         column-gap: 100px;
    display: flex;
    justify-content: center;
    padding-top: 32px;
    background-size: cover;
    height: 363px;
    width: 374px;
  }
  .footer__menu {
    padding-top: 33px;
  }
  .footer__contacts {
    padding-top: 33px;
  }
  .footer__button {
    display: flex;
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 33px;
    margin-bottom: 32px;
  }
}
@media (min-width: 767px) {
  .menu__mobile {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */